*.zip filter=lfs diff=lfs merge=lfs -text
tutorial[[:space:]]1.5/ filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
